{% extends '@SharedProjectTimesheets/top-nav-layout/base.html.twig' %}

{% block page_title %}{{ 'shared_project_timesheets.view.title' | trans }} {{ sharedProject.project.name }}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block main %}
    <div class="box box-default">
        <div class="box-body">
            {{ 'shared_project_timesheets.view.selection_text' | trans }}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">{{ ('shared_project_timesheets.view.month.' ~ month) | trans }} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for i in 1..12 %}
                    <li><a href="{{ app.request.pathinfo }}?year={{ year }}&month={{ i }}" class="{{ i == month ? 'active' : '' }}">{{ ('shared_project_timesheets.view.month.' ~ i) | trans }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">{{ year }} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for i in (year - 2)..(year + 2) %}
                        <li><a href="{{ app.request.pathinfo }}?year={{ i }}&month={{ month }}" class="{{ i == year ? 'active' : '' }}"> {{ i }} </a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="box box-default">
        <div class="box-body no-padding">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{{ 'shared_project_timesheets.view.table.date' | trans }}</th>
                        <th>{{ 'shared_project_timesheets.view.table.description' | trans }}</th>
                        {% if sharedProject.entryUserVisible %}
                        <th>{{ 'shared_project_timesheets.view.table.user' | trans }}</th>
                        {% endif %}
                        <th>{{ 'shared_project_timesheets.view.table.duration' | trans }}</th>
                        {% if sharedProject.entryRateVisible %}
                        <th>{{ 'shared_project_timesheets.view.table.rate_hour' | trans }}</th>
                        <th>{{ 'shared_project_timesheets.view.table.rate_total' | trans }}</th>
                        {% endif %}
                    </tr>
                </thead>
                {% for record in timeRecords %}
                    <tr>
                        <td>{{ record.date | date_short }}</td>
                        <td>{{ record.description | e | nl2br }}</td>
                        {% if sharedProject.entryUserVisible %}
                            <td>{{ record.user.displayName }}</td>
                        {% endif %}
                        <td>{{ record.duration | duration }}</td>
                        {% if sharedProject.entryRateVisible %}
                            {% if record.differentHourlyRates %}
                                <td>
                                    {% for info in record.hourlyRates %}
                                        <div>{{ info.duration | duration }} - {{ info.hourlyRate | format_currency(currency) }}</div>
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td>{{ record.hourlyRates[0].hourlyRate | format_currency(currency) }}</td>
                            {% endif %}
                            <td>{{ record.rate | format_currency(currency) }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% if timeRecords is not empty %}
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        {% if sharedProject.entryUserVisible %}
                        <th></th>
                        {% endif %}
                        <th>{{ durationSum | duration }}</th>
                        {% if sharedProject.entryRateVisible %}
                        <th></th>
                        <th>{{ rateSum | format_currency(currency) }}</th>
                        {% endif %}
                    </tr>
                </tfoot>
                {% endif %}
            </table>
            {% if timeRecords is empty %}
                <p class="margin">{{ 'shared_project_timesheets.view.table.empty' | trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}